<app-header [parentId]="parentId"></app-header>
<main class="mb-9" data-js="main">
    <router-outlet></router-outlet>
</main>
<!-- <footer>
    <div
        class="fixed bottom-0 flex flex-col justify-between w-full px-6 py-4 bg-white border-t border-black gap-y-6 lg:items-center lg:flex-row">
        <p>This website uses cookies. By using this website you consent to our use of cookies in accordance with our <a
                href="/legal" target="_blank" class="underline underline-offset-4">DATA PRIVACY STATEMENT</a>.</p>
        <button class="px-6 py-2.5 text-white bg-black">OK</button>
    </div>
</footer> -->